.admin-flights-header {
    font-weight: 700;
    font-size: 40px;
}

.admin-flights-table {
    padding-top: 30px;
    height: 400px;
    width: 100%;
}

.adminFlightsPage {
    padding: 50px;
}

.flights-searchbar {
    width: 100%;
}

.admin-flights-form-container {
    height: 130px;
}

.admin-flights-buttons {
    display: flex;
    flex-direction: row;
}

.admin-flights-create-btn{
    padding-left: 20px;
}