
.admin-customers-single-table {
    padding: 10px;
    padding-top: 30px;
    height: 400px;
    width: 100%;
}

.admin-customers-header {
    font-weight: 700;
    font-size: 40px;
}

.admin-customers-single-page {
    padding: 15px;
}

.admin-customers-single-flightcontainer{
    padding: 10px;
}

.admin-customers-searchBar {
    width: 100%;
}

