.admin-routes-header {
    font-weight: 700;
    font-size: 40px;
}

.admin-routes-table {
    padding-top: 30px;
    height: 400px;
    width: 100%;
}

.admin-routes-page {
    padding: 50px;
}

.admin-routes-searchBar {
    width: 100%;
}

.admin-routes-form-container {
    height: 130px;
}

.admin-routes-buttons {
    display: flex;
    flex-direction: row;
}
