.admin-sidebar {
    background-color: #1976d2;
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 4vw;
    min-width: 30px;
    overflow: hidden;
}

.admin-sidebar-top {
    background-color: #14579a;
}

.admin-sidebar-menu-icon-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.admin-sidebar-menu-icon {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 46px;
    cursor: pointer;
    border: none;
    padding: 0px;
    box-sizing: content-box;
    appearance: none;
    margin: 0px;
    width: 100%;
}

.admin-sidebar-icon-container {
    color: white;
    justify-content: center;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

.admin-sidebar-icon-container:hover {
    background-color: grey;
}

.admin-sidebar-middle {
    padding-top: 100px;
}

.admin-sidebar-text {
    padding-left: 10px;
}