.explore:hover .header-explore-popup {
    color: #1d2d61;
    cursor: default;
    visibility: visible;
    animation: explorer-popup 200ms ease-in both;
}

.explore:hover::before {
    visibility: visible;
    animation: explorer-popup 200ms ease-in;
}

@keyframes explorer-popup {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.header-explore-popup {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 1440px;
    transform: translateX(-63.1%);
    background-color: #f5f7fa;
    visibility: hidden;
}

.header-explore-popup-inner {
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin-bottom: 5px;
}

.header-explore-popup-inner-links {
    border-right: 2px solid #e4e4e4;
}

.header-explore-options {
    list-style: none;
    margin-left: -40px;
    padding-right: 40px;
}

.header-explore-image-options {
    display: block;
    padding-left: 15px;
}

.header-explore-popup:hover {
    color: #1d2d61;
    visibility: visible;
}

.header-explore-popup:hover+.explore ::before {
    visibility: visible;
}

.destination-image-links:hover {
    text-decoration: underline;
}

.destination-links {
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
    line-height: 20px;
    font-weight: 550;
}

.header-explore-options li {
    margin-top: 10px;
    text-align: left;
}

.destination-links:hover {
    text-decoration: underline;
}

.explore::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: -1px;
    right: 5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f5f7fa;
    visibility: hidden;
}

.explore {
    position: relative;
    margin-right: -15px;
    cursor: pointer;
}

.destination-image-links img {
    max-width: 200px;
    max-height: 150px;
    height: 125%;
    width: 125%;
}

.header-explore-image-options div {
    display: inline-block;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.destination-image-links {
    text-decoration: none;
    white-space: pre-wrap;
}